# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# macOS DS_Store
.DS_Store

# User-specific files
*.suo
*.user
*.sln.docstates
.idea/

# node_modules
node_modules
